.accordian{
    user-select: none;
    border-bottom:1px solid var(--color-black);
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    margin-bottom: .8rem;
    
    @media(min-width: $media-tablet){
        font-size: 2rem;
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-white);
        z-index: 1;

        &__title{
            margin-right: 7rem;
            z-index: 1;
            width: 100%;
            background-color: var(--color-white);
        }
        &__div{
            display: flex;
            align-items: center;
        }
    }

    &__list{
        background-color: var(--color-white);
        z-index: 10;
    }
    
    li{
        text-transform: uppercase;
    }

    &.open{
        svg{
            transform: rotate(-180deg);
        }
    }
    svg{
        width: 2rem;
        transition: all 259ms ease;
    }

    &__drop{
        border: .15rem solid var(--color-black);
        display: block;
        border-top: none;
        background-color: var(--color-white);
        width: 100%;
        //overflow-wrap: break-word;
        transition: all 250ms ease;
        z-index: -1;
        padding:0 .5rem 0rem .5rem; //ako postoji padding, text ce se sam postaviti u div
        

        
        p{
            display: inline;
        }
    }
}