.news{
    display: flex;
    flex-direction: column-reverse;
    max-width: 1300px;
}
.newsAccordian{
    margin-bottom: 2rem;
    width: 100%;
      
    
    @media(min-width:$media-tablet ){
        font-size: 1.8rem;
    }
    
    &__header{
        transition: all 500ms linear;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--color-black);
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        &__title{
            position: relative;
            z-index: 10;
            padding: 0.5rem;
            width: 100%;
            background-color: var(--color-orange-100);
            margin-right: 2.5rem;
        }
        &__arrow{
            background-color: var(--color-orange-100);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-40%);
        }
    }
    svg{
        width: 2rem;
        margin-left: .2rem;
        transition: all 205ms ease;
    }
    &.open{
        svg{
            transform: rotate(-180deg);
        }
    }

    &__drop{
        padding: 0 .5rem;
        background-color: var(--color-cream);          
    }
}