* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    background-color: var(--color-white);
    font-size: 1.2rem;
}
// VARIABLES
:root{
    //ROOT
    --color-black:rgb(51, 47, 47);
    --color-white:rgb(255, 253, 253);
    --color-gray:rgb(133, 133, 133);
    //BLUE
    --color-blue-700:rgb(21, 142, 212);
    --color-blue-500:rgb(75, 164, 216);
    --color-blue-300:rgb(110, 183, 224);
    --color-blue-100:rgb(126, 196, 236);
    //ORANGE
    --color-orange-900:rgb(197, 128, 0);
    --color-orange-700:rgb(221, 147, 9);
    --color-orange-500:rgb(230, 165, 45);
    --color-orange-300:rgb(235, 175, 65);
    --color-orange-100:rgb(255, 185, 55);
    //FLAVOURS
    --color-cream:rgb(245, 230, 202);

}
//CONTAINER FOR CONTENT
.container{
    min-height: 60vh;
    user-select: none;
    margin: 1rem auto;
    padding: 0 1rem;
    margin-bottom: 10rem;

    @media(min-width: 37em){
        max-width: 600px;
    }

    @media(min-width: 63em){
        max-width: 1100px;
    }
    @media(min-width: 81em){
        max-width: 1300px;
    }
}

// Breakpoints
$media-tablet:37em;
$media-laptop:60em;
$media-monitor:81em;
//
$color-red:rgb(146, 9, 9);